<div id="<%= dom_id legislation %>">
  <p>
    <strong>Title:</strong>
    <%= legislation.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= legislation.description %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= legislation.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= legislation.user_id %>
  </p>

</div>
