<div class="container py-5">
  <div class="row mb-4">
    <div class="col-md-6">
      <h1 class="display-4">Legislations</h1>
    </div>
    <div class="col-md-6 text-end">
      <%= link_to new_legislation_path, class: 'btn btn-primary btn-lg' do %>
        <i class="bi bi-plus-circle me-2"></i> Add New Legislation
      <% end %>
    </div>
  </div>

  <div class="row">
    <% @legislations.each do |legislation| %>
      <div class="col-md-12">
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><%= legislation.title %></h5>
            <p class="card-text"><strong>Status:</strong> <%= legislation.status %></p>
            <p class="card-text"><%= legislation.description %></p>
          </div>
          <div class="card-footer bg-transparent d-flex justify-content-between">
            <%= link_to 'View Details', legislation_path(legislation), class: 'btn btn-primary' %>
            <%= link_to 'Add Vote', new_legislation_vote_path(legislation), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
