<h1 class="text-2xl font-bold mb-4">Heroes Details</h1>

<p class="mb-2">
  <strong>Name:</strong>
  <%= @supporter.name %>
</p>

<p class="mb-2">
  <strong>Contact:</strong>
  <%= @supporter.contact_info %>
</p>

<p class="mb-2">
  <strong>Role:</strong>
  <%= @supporter.role %>
</p>

<p class="mb-2">
  <strong>Linked Category:</strong>
  <%=@supporter.category %>
</p>

<%= link_to 'Edit', edit_event_supporter_path(@event, @supporter) %>
<%= link_to 'Back', event_supporters_path(@event) %>