<div class="row">
  <div class="col-lg-4 offset-lg-4">
    <h1 class="text-center">Create a new vote</h1>

    <%= form_with(model: vote, url: vote.persisted? ? legislation_vote_path(vote) : legislation_votes_path, local: true) do |form| %>
      <%= render "devise/shared/error_messages", resource: vote %>

      <div class="mb-3">
        <%= form.label :politician_id, class: 'form-label' %>
        <%= form.select :politician_id, Politician.all.collect { |p| [p.name, p.id] }, { include_blank: "Select politician" }, class: "form-select" %>
      </div>

      <div class="mb-3">
        <%= form.label :choice, class: 'form-label' %>
        <%= form.select :choice, Vote.choices.keys, {}, class: 'form-select' %>
      </div>

      <div class="mb-3">
        <% if vote.persisted? %>
          <div class="float-end">
            <%= link_to 'Destroy', vote, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' } %>
          </div>
        <% end %>

        <%= form.submit class: 'btn btn-primary' %>

        <% if vote.persisted? %>
          <%= link_to "Cancel", vote, class: "btn btn-link" %>
        <% else %>
          <%= link_to "Cancel", legislation_votes_path, class: "btn btn-link" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
</div>
