<div id="<%= dom_id vote %>">
  <p>
    <strong>Type:</strong>
    <%= vote.type %>
  </p>

  <p>
    <strong>Politician:</strong>
    <%= vote.politician_id %>
  </p>

  <p>
    <strong>Legislation:</strong>
    <%= vote.legislation_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= vote.user_id %>
  </p>

</div>
