


<div class="row">
  <div class="col-sm-6">
    <h1>Votes</h1>
  </div>

  <div class="col-sm-6 text-end">
  <%= link_to new_vote_path, class: 'btn btn-primary' do %>
    Add New Vote
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Type</th>
            <th>Politician</th>
            <th>Legislation</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @votes.each do |vote| %>
        <%= content_tag :tr, id: dom_id(vote), class: dom_class(vote) do %>
          

                      <td><%= vote.type %></td>
                      <td><%= vote.politician %></td>
                      <td><%= vote.legislation %></td>
                      <td><%= vote.user %></td>
          
          
            <td><%= link_to 'Show', vote %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
