<div class="page-header">
  <%= link_to votes_path, class: 'btn btn-default' do %>
    All Votes
  <% end %>
  <%= link_to edit_vote_path(@vote), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show vote</h1>
</div>

<dl class="dl-horizontal">
  <dt>Type:</dt>
  <dd><%= @vote.type %></dd>
  <dt>Politician:</dt>
  <dd><%= @vote.politician %></dd>
  <dt>Legislation:</dt>
  <dd><%= @vote.legislation %></dd>
  <dt>User:</dt>
  <dd><%= @vote.user %></dd>
</dl>
