<div class="event-container">
  <div class="event-header">
    <div class="header-text">
      <h1 class="event-title">Losers for <%= @event.name %></h1>
      <h1 class="event-title">Location: <%= @event.location %></h1>
      <h1 class="event-title">Date: <%= @event.date %></h1>
      <p class="event-description">A list of all the KOX Finance Bill 2024 Losers with their X handles.</p>
    </div>
    <div class="header-button">
      <%= link_to 'Add a Loser', new_event_traitor_path(@event), class: "add-traitor-button" %>
    </div>
  </div>
  <div class="event-content">
    <div class="table-wrapper">
      <div class="table-container">
        <div class="table-inner">
          <table class="traitors-table">
            <thead class="table-head">
              <tr>
                <th scope="col" class="column-name">Name</th>
                <th scope="col" class="column-handles">Handles</th>
                <th scope="col" class="column-tweet">Linked Tweet</th>
                <th scope="col" class="column-edit"><span class="sr-only">Edit</span></th>
              </tr>
            </thead>
            <tbody class="table-body">
              <% @traitors.each do |traitor| %>
                <tr class="table-row">
                  <td class="traitor-name"><%= traitor.name %></td>
                  <td class="traitor-handles"><%= traitor.handles %></td>
                  <td class="traitor-tweet"><%= link_to traitor.linked_tweet, traitor.linked_tweet, target: "_blank" %></td>
                  <td class="traitor-screenshot"><%= image_tag traitor.screenshot if traitor.screenshot.present? %></td>
                  <td class="traitor-edit"><%= link_to 'Edit', edit_event_traitor_path(@event, traitor) %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
