<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>
      <% if content_for?(:title) %>
        <%= yield :title %> |
      <% end %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="csrf-token" content="<%= form_authenticity_token %>">

    <% if Rails.env.production? %>
      <script defer data-domain="carpitan.com" src="https://plausible.io/js/script.js"></script>
    <% end %>

    <%= render 'shared/head' %>

    <%= yield :head %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="flex flex-col h-full">
    <%= render 'shared/navbar', class: 'sticky top-0' %>
    
    <main class="flex-grow">
      <%= render 'shared/notices' %>

      <div class="container mx-auto my-4">
        <%= yield %>
      </div>
    </main>

    <%= render 'shared/footer', class: 'mt-auto' %>
  </body>
</html>