<!DOCTYPE html>

<html class="h-100">
  <head>
    <%= render 'shared/head' %>
  </head>

  <body class="d-flex flex-column h-100">
    <%= render 'shared/navbar', class: 'sticky-top' %>

<main class="flex-grow-1">
  <%= render 'shared/notices' %>

  <div class="container my-4">
    <%= yield %>
  </div>
</main>

<%= render 'shared/footer', class: 'mt-auto' %>
  </body>
</html>
